$fontSize: 16px;

$primaryColor: #1dbd9d;
$secondaryColor: #ffffff;
$tertiaryColor: #2c3e50;

$primaryFontColor: #2d2d2d;
$secondaryFontColor: #ffffff;
$tertiaryFontColor: #1dbd9d;

$headerHeight: 90px;