// Libraries
@import 'normalize';
@include normalize();
@import 'bootstrap/bootstrap-grid.scss';

// Fonts
@import 'fonts/roboto.scss';

// Base styling
@import 'variables';
@import 'base';
@import 'page';

// Layout component styles
@import 'components/header';
@import 'components/footer';
@import 'components/sections';

// Component styles
@import 'components/brand';
@import 'components/button';
@import 'components/cta';
@import 'components/hero';
@import 'components/hamburgers/hamburgers';
@import 'components/panel';
@import 'components/testimonials';
@import 'components/clients';

// Page styles
@import 'pages/index';