.brands {
    .brand {
        @extend .col-lg-4;

        margin: 1rem 0;
        text-align: center;

        .cta {
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: none;
            transition: all .3s;
            opacity: 0;

            &__button {
                @extend .col-12;

                a {
                    font-size: 1.25rem;
                    padding: 0.75rem 1.5rem;
                }
            }

            &__copy {
                @extend .col-12;

                font-size: 1.25rem;
            }

            &__link {
                font-size: 1.25rem;
            }

            &__wrapper {
                @extend .col-12;

                margin-top: 2rem;
            }
        }

        &__background {
            background: {
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            border-radius: 10px;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s;
            z-index: 2;
        }

        &__content {
            position: relative;
            width: 100%;
            z-index: 2;
        }

        &__cta {
            opacity: 0;
            pointer-events: none;
            position: absolute;
        }

        &__logo {
            transition: all .3s;

            img {
                height: 45px;
                max-width: 100%;
            }
        }

        &__wrapper {
            align-items: center;
            border-radius: 10px;
            display: flex;
            height: 240px;
            overflow: hidden;
            margin: 0 auto;
            max-width: 400px;
            padding: 2rem;
            position: relative;
            transition: all .3s;
        }

        &:hover {
            .cta {
                opacity: 1;

                &__link {
                    z-index: 2;
                }
            }

            .brand {
                &__background, &__logo {
                    transform: scale(1.2);
                    opacity: 0 !important;
                }

                &__logo {
                    transform: scale(1.1);
                }
            }
        }

        &--oracle {
            .brand {
                &__logo {
                    img {
                        height: 26px;
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .row {
        justify-content: center;
    }
}