.hero {
    align-items: center;
    display: flex;
    min-height: calc(100vh - #{$headerHeight});
    padding: 3rem 0;
    position: relative;

    &__content {
        @extend .container;
    }
    
    .portrait {
        margin-bottom: 3rem;
        text-align: center;

        img {
            max-width: 50%;
        }
    }
}