.panel {
    @extend .col-lg-4;

    font-weight: bold;
    text-align: center;

    &__icon {
        margin-bottom: 2rem;

        svg {
            fill: $primaryColor;
            width: 80%;
        }
    }

    &__list {
        font-size: 1.5rem;
    }

    &__listItem {
        margin-bottom: 0.8rem;
    }

    &__subTitle {
        color: $tertiaryFontColor;
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
        margin-top: 2rem;
    }

    &__title {
        font-size: 2rem;
    }

    &__wrapper {
        background-color: $secondaryColor;
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
        height: 100%;
        margin: 0 auto;
        max-width: 400px;
        padding: 2rem 6rem;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}