.panel {
    @extend .col-lg-4;

    font-weight: bold;
    text-align: center;

    &__icon {
        margin-bottom: 2rem;

        svg {
            fill: $primaryColor;
            width: 70%;

            @include media-breakpoint-up(sm) {
                width: 60%
            }
        }

        &--small {
            flex: 0 0 12.5%;
            padding: 0 15px;

            svg {
                max-width: 80px;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }

            @include media-breakpoint-down(md) {
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }

            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        @include media-breakpoint-down(md) {
            padding: 0 3rem;
            flex-wrap: wrap;
        }
    }

    &__list {
        font-size: 1.25rem;
    }

    &__listItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.75rem;

        &-sub {
            font-size: 0.9rem;
            color: #6c757d;  // Bootstrap's secondary text color
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }
    }

    &__subTitle {
        color: $tertiaryFontColor;
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
        margin-top: 2rem;
    }

    &__title {
        font-size: 2rem;
    }

    &__content {
        background-color: $secondaryColor;
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
        height: 100%;
        margin: 0 auto;
        max-width: 400px;
        padding: 2rem 4rem;

        &--noMaxWidth {
            max-width: none;

            @include media-breakpoint-down(md) {
                padding: 2rem;
            }
        }
    }

    &--fullWidth {
        flex: 0 0 100%;
        max-width: 100%;
    }

    &--overlapping {
        .panel__wrapper {
            transform: translateY(-50%);

            @include media-breakpoint-down(md) {
                transform: translateY(-6rem);
            }
        }
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}