.section {
    padding: 5rem 0;
    text-align: center;

    &__content {
        &--narrow {
            @extend .col-lg-6, .offset-lg-3;
        }

        &--standard {
            @extend .col-lg-10, .offset-lg-1;
        }
    }

    &__copy {
        font-size: 1.5rem;
        margin-bottom: 4.5rem;

        &--alignLeft {
            text-align: left;
        }
    }

    &__title {
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    @include media-breakpoint-up(md) {
        &__copy {
            font-size: 1.375rem;
        }

        &__title {
            font-size: 3rem;
        }
    }

    &--bgColoured {
        background-color: $primaryColor;
        color: $secondaryFontColor;
    }

    &--noPadding {
        padding: 0;
    }

    &--noTopPadding {
        padding-top: 0;
    }

    &--overlayed {
        padding: {
            bottom: 18rem;
            top: 5rem;
        };
    }

    &--recentWork {
        .section {
            &__title {
                margin-bottom: 4.5rem;
            }
        }
    }
}