.section {
    padding: 5rem 0;
    text-align: center;

    &__content {
        &--narrow {
            @extend .col-lg-6, .offset-lg-3;
        }

        &--standard {
            @extend .col-lg-10, .offset-lg-1;
        }
    }

    &__copy {
        font-size: 1.5rem;
        margin-bottom: 4.5rem;

        &--alignLeft {
            text-align: left;
        }

        &--noMargin {
            margin: 0;
        }
    }

    &__image {
        margin: 1rem 0;

        img {
            max: {
                height: 40vh;
                width: 100%;
            }
        }

        &--small {
            img {
                max: {
                    height: 30px;
                    width: 250px;
                }
            }
        }
    }

    &__link {
        a {
            text-decoration: none;
        }
    }

    &__title {
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    @include media-breakpoint-up(md) {
        &__copy {
            font-size: 1.375rem;
        }

        &__title {
            font-size: 3rem;
        }
    }

    &--bgColoured {
        background-color: $primaryColor;
        color: $secondaryFontColor;
    }

    &--fullViewport {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - #{$headerHeight});
    }

    &--noPadding, &--withFloatedPanel {
        padding: 0;
    }

    &--noBottomPadding {
        padding-bottom: 0;
    }

    &--noTopPadding {
        padding-top: 0;
    }

    &--overlayed {
        padding: {
            bottom: 18rem;
            top: 5rem;
        };

        &-small {
            padding-bottom: 10rem;
        }
    }

    &--recentWork {
        .section {
            &__title {
                margin-bottom: 4.5rem;
            }
        }
    }

    &--withFloatedPanel {
        & + .section {
            padding-top: 0;
        }
    }
}