.testimonial {
    padding-top: 5rem;
    position: relative;

    &__image {
        background: {
            position: center;
            repeat: no-repeat;
            size: cover;
        }
        border: 5px solid $secondaryColor;
        border-radius: 50%;
        height: 150px;
        margin: 2rem auto;
        margin-bottom: 1.25rem;
        width: 150px;
    }

    &__person {
        text-align: center;
    }

    &__personInfo {
        font-size: 1.25rem;
    }
    
    &__personName {
        font-size: 1.875rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
    }

    &__quotation {
        font-size: 200px;
        line-height: 0.85;
        left: -8px;
        position: absolute;
        top: 0;
    }
}