.index {

    .chevron {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);

        img {
            height: 75px;
            width: 75px;
        }
    }
    
    .intro {
        @extend .col-lg-10, .offset-lg-1;
        text-align: center;

        &__copy {
            font-size: 1.5rem;
            margin-bottom: 4.5rem;
        }

        &__title {
            font-size: 2.25rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        @include media-breakpoint-up(md) {
            &__copy {
                font-size: 1.375rem;
            }

            &__title {
                font-size: 3rem;
            }
        }
    }

    .recentWork {
        margin: 6.5rem 0;

        .intro {
            &__title {
                margin-bottom: 4.5rem;
            }
        }
    }

    .stack {
        margin-top: -16rem;
    }
}

